.home-wrapper {
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
}

.main-boxes-wrapper {
  .main-boxes {
    @include flex(row, center, space-between);
    text-align: center;

    .order-box {
      background-image: url(../../images/pizza-1.jpg);
      background-size: cover;
      border-radius: 5px;
      color: $color-light;
      cursor: pointer;
      height: 100px;
      text-decoration: none;
      transition: $transition-pictures;
      width: 295px;

      .description-title {
        margin-top: 35px;
      }

      .description-content {
        display: none;
      }

      &:hover > .description-title {
        transition: $transition-pictures;
        margin-top: 25px;
      }

      &:hover > .description-content {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-top: -30px;
        transition: $transition-pictures;
      }
    }

    .booking-box {
      background-image: url(../../images/pizza-2.jpg);
      border-radius: 5px;
      color: $color-light;
      cursor: pointer;
      height: 100px;
      text-decoration: none;
      transition: $transition-pictures;
      width: 295px;

      .description-title {
        margin-top: 35px;
      }

      .description-content {
        display: none;
      }

      &:hover > .description-title {
        margin-top: 25px;
        transition: $transition-pictures;
      }

      &:hover > .description-content {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-top: -30px;
        transition: $transition-pictures;
      }
    }
  }

  .add-box {
    background-color: $color-main;
    border-radius: 5px;
    color: $color-light;
    height: 120px;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
    width: 605px;

    .description-content {
      margin-top: -10px;
    }
  }
}

.carousel-wrapper {
  .carousel-cell {
    height: 220px;
    margin-right: 10px;
    margin-top: 50px;
    width: 100%;

    .carousel-item {
      display: flex;

      .carousel-picture {
        border-radius: 5px;
        height: 180px;
        margin-right: 50px;
        object-fit: cover;
        width: 200px;
      }

      .carousel-description {
        height: 160px;
        margin: auto;
        width: 385px;
      }
    }
  }
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 30px;

  .gallery-box {
    position: relative;
    box-sizing: border-box;
    width: 190px;
    height: 190px;
    margin-top: 8px;
    padding: 2px;
    border-radius: 5px;

    .gallery-overlay {
      @include center();
      opacity: 0;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: $transition;

      .gallery-overlay {
        opacity: 1;
        text-align: center;

        .gallery-link {
          color: $color-light;
          font-size: 30px;
          letter-spacing: 15px;

          &:hover {
            transition: $transition;
            color: $color-main;
          }
        }
      }
    }
  }
}

.footer-wrapper {
  @include flex(row, center, center);
  margin-bottom: 0px;

  .footer-link {
    text-decoration: none;
    color: $color-main;
    cursor: pointer;
    transition: $transition-footer;
    margin-bottom: 0px;

    &:hover {
      transform: scale(1.5, 1.5);
      transition: $transition-footer;
    }
  }
}

.img-1 {
  background-image: url("../../images/pizza-4.jpg");
  background-size: cover;
}

.img-2 {
  background-image: url("../../images/pizza-5.jpg");
  background-size: cover;
}

.img-3 {
  background-image: url("../../images/pizza-6.jpg");
  background-size: cover;
}

.img-4 {
  background-image: url("../../images/pizza-7.jpg");
  background-size: cover;
}

.img-5 {
  background-image: url("../../images/pizza-8.jpg");
  background-size: cover;
}

.img-6 {
  background-image: url("../../images/pizza-9.jpg");
  background-size: cover;
}
